*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*Background*/
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #132F59 25%, #6f53a3);
    padding: 10px;
}

/*List Box*/
.to-do{
    width: 600px;
    background-color: #fff;
    margin: 120px auto 60px;
    padding: 40px 30px 70px;    
    border-radius: 30px;
}

/*List Box Header*/
.to-do h2{
    display: flex;
    align-items: center;
    color: #03265d;
    margin-bottom: 20px;
}

/*List Box Icon*/
.to-do h2 img{
    width: 40px;
    margin-left: 20px;
}

/*List Box Input Container*/
.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #d6d6d8;
    border-radius: 30px;
}

/*List Box Input Task*/
#input-box{
    border: none;
    padding: 10px;
    outline: none;
    background-color: transparent;
    font-size: 20px;
}

/*List Box Add Task Button*/
button{
    background-color: #ff5945;
    border: none;
    padding: 14px 40px;
    outline: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
}

/*List Box Tasks List*/
ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px 8px 10px 45px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

/*List Box Tasks Check Button*/
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    background-image: url(images/unchecked.png);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    top: 7px;
    left: 1px;
}


/*List Box Tasks On Checked*/
ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

/*List Box Tasks Remove Button*/
ul li span{
    position: absolute;
    right: 0px;
    top: 3px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
}

/*List Box Tasks Remove Button Hover Animation*/
ul li span:hover{
    color: red;
    background: #edeef0;
    border-radius: 50%;
}